* {
  margin: 0;
  padding: 0;
}
body {
  font-display: swap;
}
.banner-container {
  display: inline-block;
  width: 100%;
  height: calc(200vh - 100px);
  background-color: white;
}
.container-content {
  position: relative;
  width: 1214px;
  margin: 0 0 0 auto;
  height: 550px;
  background-image: url("../Image/bg-02.jpg");
}
.main-content-pic {
  position: absolute;
}
.main-content-pic > img {
  max-width: 100%;
}
Header {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 55px 0px 30px 26px;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;
}
Header > headerImg > img {
  height: 110px;
}
Header > headerImg > img:hover {
  cursor: pointer;
}
Header > menu > ul {
  display: flex;
  list-style: none;
}
Header > menu > ul > li {
  opacity: 0;
  transition: 2.5s;
  padding: 30px 25px 10px 25px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  width: 100px;
  border-radius: 3px;
}
Header > menu > ul > li:hover {
  cursor: pointer;
}
Header > menu > ul > li:hover ~ Header > menu > ul > li {
  background-color: red;
}
Header > menu > ul > li:hover {
}
Header > menu > ul > li > ul {
  display: none;
  opacity: 0;
  list-style: none;
}
Header > menu > ul > li > ul > li {
  padding: 10px 0px;
  line-height: 1;
}
Header > menu > ul > li > ul > li:hover {
  color: #0041dc;
}
menu {
  margin-top: 15px;
}
SideBarIcon {
  position: fixed;
  display: flex;
  bottom: 70px;
  flex-direction: column;
  margin-left: 33px;
}
SideBarIcon > i {
  padding: 15px 15px 40px 15px;
  font-size: 17px;
}
SideBarIcon > i:hover {
  color: #0041dc;
  cursor: pointer;
}
.aboutus,
.ourbrands,
.ourmodels,
.workhere,
.news {
  transition-delay: 0.2s;
  opacity: 1;
}
.down_sidebar {
  position: absolute;
  top: 205px;
  right: 30px;
  font-size: 11px;
  font-weight: 600;
  transform: rotate(-90deg);
}
.down_sidebar > a {
  text-decoration: none;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}
.down_sidebar :before {
  position: absolute;
  top: 0.3rem;
  right: 5rem;
  content: "";
  height: 2px;
  width: 150px;
  background: #0041dc;
  transform-origin: 0 0;
  animation: mymove 2s infinite ease;
}
bannerContent {
  position: absolute;
  top: 249px;
  right: 123px;
  width: 550px;
  font-weight: 800;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 37px;
  line-height: 1.3;
}
.blue_text {
  color: #0041dc;
}
.black_text {
  color: black;
}
.hoverEffectClass {
  transition: 0.3s;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  background-color: white;
}
.addclassToUl {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  display: block;
  opacity: 1;
  color: #656565;
  margin-top: 10px;
}
.headerAddedCss {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  padding: 0px 0px 0px 26px;
  transition: 0.5s;
}
.innovation {
  display: flex;
  position: relative;
  padding-left: 45px;
  box-sizing: border-box;
}
.innov_container {
  display: inline-block;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 250px;
  padding: 100px;
}
.innov_container > p {
  text-align: center;
  font-size: 15px;
  margin: 20px 0px;
  color: #0041dc;
  font-weight: 800;
}
.innov_container > h3 {
  text-align: center;
  font-size: 45px;
}
.innov_content {
  padding: 0px 20px;
  text-align: unset;
  color: lightslategrey !important;
  font-weight: 100 !important;
  line-height: 1.5;
  font-family: system-ui;
  font-size: 14px !important;
}
.innov_content > b {
  color: black !important;
}
.subtitle {
  position: relative;
}
.subtitle::before {
  position: absolute;
  top: 50%;
  left: 18px;
  content: "";
  width: 20px;
  height: 3px;
  background-color: #0041dc;
}
.addclassbanner_image {
  height: 70px;
  transition: 0.5s;
}
.menuclasseffect {
  margin-top: 0;
}
.poweredBy {
  position: absolute;
  top: -366px;
  right: 50px;
  display: initial;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
}
.powerbyContinerheading {
  padding: 20px;
  width: 100%;
  text-align: center;
  max-width: 100%;
}
.powerbyContinerpic > img {
  max-height: 300px;
}
.powerbycontentContiner {
  display: flex;
}
.powerbyContinercontent {
  padding: 20px;
}
.powerbyContinerheading > .subtitle::before {
  position: absolute;
  top: 50%;
  left: 36%;
  content: "";
  width: 20px;
  height: 3px;
  background-color: #0041dc;
}
@keyframes mymove {
  0% {
    transform: scaleX(0);
    opacity: 0;
    transform-origin: 100% 0%;
  }
  1% {
    transform: scaleX(0);
    opacity: 1;
    transform-origin: 100% 0%;
  }
  49% {
    transform: scaleX(1);
    opacity: 1;
    transform-origin: 100% 0%;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0 0%;
  }
  99% {
    transform: scaleX(0);
    transform-origin: 0 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
    transform-origin: 100% 0%;
  }
}
